In [ ]:
import pandas as pd

###**Задание 1**


---
###**Task 1**

Изучить представленный набор данных на основе [описания](https://github.com/DurinPavel/horse_colic_database/blob/main/horse_data.names) его столбцов,  
загрузить его и оставить 8 столбцов для дальнейшего изучения:  
surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

---
Examine the presented dataset based on [description](https://github.com/DurinPavel/horse_colic_database/blob/main/horse_data.names) of its columns,  
load it and leave 8 columns for further study: surgery?, Age, rectal temperature, pulse,  
respiratory rate, temperature of extremities, pain, outcome.

In [ ]:
# В данном файле нет заголовков столбцов, поэтому используем параметр
# header = None.
# Обращаем внимание, что нумерация столбцов начинается с 0, поэтому номера
# интересующих на столбцов из описания уменьшаем на 1.
# Загрузим только нужные нам столбцы c помощью параметра usecols.
# Переименуем сразу столбцы, используя параметр names.
# Используя параметр na_values загрузим сразу все ? как NaN.
# -------------------------------------------------------------------------
# This file does not have column headers, so we use the parameter
# header = None.
# Please note that the numbering of columns starts from 0, so the numbers
# of interest on the columns from the description is reduced by 1.
# Load only the columns we need using the usecols parameter.
# Let's rename the columns at once, using the names parameter.
# Using the na_values parameter, load everything at once ? like NAN.

df = pd.read_csv('horse_data.csv',
                 header=None,
                 usecols=[0, 1, 3, 4, 5, 6, 10, 22],
                 names=['surgery?', 'Age', 'rectal temperature', 'pulse',
                        'respiratory rate', 'temperature of extremities',
                        'pain', 'outcome'],
                 na_values='?')
df.head()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0

###**Задание 2**


---
###**Task 2**

Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.


---
Analyze values by columns, calculate basic statistics, find outliers.

In [ ]:
# Представляется, что описывать полностью имеет смысл только 3 столбца:
# rectal temperature, pulse и respiratory rate,
# т.к. остальные столбцы - это категории
# -----------------------------------------------------------------------------
# It seems that only 3 columns make sense to describe in full:
# rectal temperature, pulse and respiratory rate,
# because the rest of the columns are categories

df[['rectal temperature', 'pulse', 'respiratory rate']].describe().round(1)

       rectal temperature  pulse  respiratory rate
count               240.0  276.0             242.0
mean                 38.2   71.9              30.4
std                   0.7   28.6              17.6
min                  35.4   30.0               8.0
25%                  37.8   48.0              18.5
50%                  38.2   64.0              24.5
75%                  38.5   88.0              36.0
max                  40.8  184.0              96.0

In [ ]:
# Рассчитаем еще и моду.
# Медиана у нас есть - 50 перцентиль.
# ---------------------------------------------------------------------------
# Let's also calculate the fashion.
# The median we have is the 50th percentile.

df[['rectal temperature', 'pulse', 'respiratory rate']].mode()

   rectal temperature  pulse  respiratory rate
0                38.0   48.0              20.0

In [ ]:
# Если мы проанализируем все столбцы с категориями, то увидим явные выбросы
# только в столбце Age.
# ----------------------------------------------------------------------------
# If we analyze all columns with categories, we will see explicit outliers
# only in the Age column.

df[(df['Age'] <1 ) | (df['Age'] > 2)].head()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
9,2.0,9,38.3,90.0,NaN,1.0,5.0,1.0
13,2.0,9,38.0,92.0,28.0,1.0,1.0,2.0
16,1.0,9,NaN,128.0,36.0,3.0,4.0,2.0
23,1.0,9,38.3,130.0,60.0,NaN,2.0,1.0

In [ ]:
# Строк с отклонениями - 24.
# Это довольно много.
# -----------------------------------------------------------------------------
# Lines with deviations - 24.
# This is quite a lot.

len(df[(df['Age'] < 1 ) | (df['Age'] > 2)])

24

In [ ]:
# Причина этих выбросов - явно ошибка ввода.
# Мы видим, что в графе Age нет категории 2.
# -----------------------------------------------------------------------------
# The reason for these outliers is clearly an input error.
# We see that there is no category 2 in the Age column.

df[(df['Age'] == 2 )].head()

Empty DataFrame
Columns: [surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome]
Index: []

In [ ]:
# Можем предположить, что при вводе перепутали цифры 2 и 9.
# Заменим все 9 на 2.
# -----------------------------------------------------------------------------
# We can assume that the numbers 2 and 9 were mixed up when entering.
# Replace all 9 with 2.

df['Age'] = df['Age'].replace(9, 2)
df.head()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0

In [ ]:
# Найдем выбросы в анализируемых графах.
# Исходя из того, что показатель respiratory rate изначально имеет сомнительную
# полезность (его описание), и глядя на нашу выбоку, можем предположить,
# что аномальные значения имеются по показателю pulse.
# Найдем выбросы через межквартильный размах, посмотрим, что это за выбросы.
# Мы видим, что повышенные значения пульса характерны исключительно для молодых
# лошадей, а также в выбросы попали пропуски. Их по графе pulse 24.
# Мы не будем удалять выбросы и оставим рассчитанные выше статистики.
# -----------------------------------------------------------------------------
# Find outliers in the analyzed graphs.
# Based on the fact that the respiratory rate initially has a dubious
# utility (its description), and looking at our sample, we can assume
# that there are abnormal values in pulse.
# Find outliers through the interquartile range, see what kind of outliers
# they are.
# We see that increased heart rate values are characteristic only for young
# of horses, as well as omissions were included in the emissions. There are
# 24 of them in the pulse column.
# We will not remove outliers and will keep the statistics calculated above.

q1 = df['pulse'].quantile(0.25)
q3 = df['pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr)
upper_bound = q3 + (1.5 * iqr)
df_outliers = df[~df['pulse'].between(lower_bound, upper_bound, inclusive=True)]
df_outliers.head(50)

<ipython-input-9-b77cab7b55a7>:15: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  df_outliers = df[~df['pulse'].between(lower_bound, upper_bound, inclusive=True)]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
28,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
41,2.0,2,39.0,150.0,72.0,NaN,NaN,1.0
52,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
55,1.0,2,38.6,160.0,20.0,3.0,3.0,2.0
56,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
58,1.0,1,NaN,NaN,20.0,4.0,5.0,2.0
74,1.0,2,NaN,NaN,NaN,NaN,NaN,2.0
78,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
83,1.0,1,38.0,NaN,24.0,3.0,5.0,2.0
93,2.0,1,NaN,NaN,NaN,3.0,5.0,2.0
115,2.0,1,NaN,NaN,40.0,3.0,3.0,1.0
117,2.0,1,39.5,NaN,NaN,3.0,3.0,3.0
126,1.0,1,38.7,NaN,NaN,3.0,5.0,1.0
136,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
151,1.0,1,39.3,NaN,NaN,4.0,4.0,2.0
159,2.0,1,NaN,NaN,12.0,1.0,2.0,1.0
160,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
174,2.0,1,NaN,NaN,NaN,3.0,4.0,2.0
175,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
182,1.0,1,38.0,NaN,24.0,3.0,5.0,2.0
204,1.0,1,39.2,NaN,23.0,3.0,4.0,1.0
207,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
216,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
227,1.0,2,NaN,NaN,NaN,NaN,NaN,1.0
255,1.0,2,38.8,184.0,84.0,1.0,4.0,2.0
275,1.0,2,38.8,150.0,50.0,1.0,5.0,2.0
288,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0

###**Задание 3**


---
###**Task 3**

Рассчитать количество пропусков для всех выбранных столбцов. Принять и  
обосновать решение о методе заполнения пропусков по каждому столбцу на основе  
рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать  
датафрейм, в котором пропуски будут отсутствовать.


---
Calculate the number of gaps for all selected columns. Make and justify the  
decision on the method of filling in the gaps for each column based on the  
calculated statistics and the possible relationship of values in them. Form a  
dataframe in which there will be no gaps.

In [ ]:
# Рассчитаем количество пропусков для всех столбцов
# Видим, что полностью пустых строк у нас нет
# -----------------------------------------------------------------------------
# Calculate the number of gaps for all columns
# We see that we do not have completely empty lines

df.isna().sum()

surgery?                       1
Age                            0
rectal temperature            60
pulse                         24
respiratory rate              58
temperature of extremities    56
pain                          55
outcome                        1
dtype: int64

In [ ]:
# Для начала удалим строки, которые имеют пропуски сразу по 3 графам:
# rectal temperature, pulse, respiratory rate, т.к. включение их в
# в анализ не имеет смысла.
# -----------------------------------------------------------------------------
# First, delete the lines that have gaps in 3 columns at once:
# rectal temperature, pulse, respiratory rate, because including them in
# in the analysis does not make sense.

df_no_full_passes = df.dropna(subset=['rectal temperature', 'pulse', \
                                      'respiratory rate'], how='all')
df_no_full_passes.isna().sum()

surgery?                       1
Age                            0
rectal temperature            45
pulse                          9
respiratory rate              43
temperature of extremities    47
pain                          47
outcome                        1
dtype: int64

In [ ]:
# Представляется, что корректнее рассчитывать показатели
# в привязке к той или иной категории.
# Рассмотрим показатели для оперированных лошадей.
# -----------------------------------------------------------------------------
# It seems that it is more correct to calculate indicators
# in relation to a particular category.
# Consider indicators for operated horses.

df_surgery = df_no_full_passes[(df_no_full_passes['surgery?'] == 1)]
df_surgery[['rectal temperature', 'pulse', 'respiratory rate']] \
            .describe().round(1)

       rectal temperature  pulse  respiratory rate
count               140.0  164.0             144.0
mean                 38.1   76.4              33.4
std                   0.7   30.3              20.1
min                  35.4   30.0               8.0
25%                  37.8   52.0              20.0
50%                  38.1   70.0              28.0
75%                  38.5   93.0              40.0
max                  40.8  184.0              96.0

In [ ]:
df_surgery[['rectal temperature', 'pulse', 'respiratory rate']].mode()

   rectal temperature  pulse  respiratory rate
0                38.0   60.0              24.0

In [ ]:
# И показатели для лошадей, которых лечили без операции.
# -----------------------------------------------------------------------------
# And figures for horses treated without surgery.

df_without_surgery = df_no_full_passes[(df_no_full_passes['surgery?'] == 2)]
df_without_surgery[['rectal temperature', 'pulse', 'respiratory rate']] \
                    .describe().round(1)

       rectal temperature  pulse  respiratory rate
count                99.0  111.0              97.0
mean                 38.2   65.5              26.1
std                   0.8   24.8              12.1
min                  36.0   36.0               9.0
25%                  37.8   48.0              16.0
50%                  38.2   56.0              24.0
75%                  38.6   84.0              32.0
max                  40.3  150.0              72.0

In [ ]:
df_without_surgery[['rectal temperature', 'pulse', 'respiratory rate']].mode()

   rectal temperature  pulse  respiratory rate
0                38.0   48.0              16.0

In [ ]:
# Сделаем копию датафрейма - иначе выходит предупреждение.
# И заменим пропуски в графе rectal temperature на среднее значение
# в связке с параметром surgery? (небольшой разброс)
# В графах pulse и respiratory rate пропуски заменим на медиану
# в связке с параметром surgery? (разброс значительный, медиана посередине между
# средним и модой)
# Пропуски в графах surgery?, temperature of extremities и outcome мы заменим
# модой без привязки к другим параметрам
# Пропуски в графе pain заменим на предыдущие заполненные значения, потому что
# четкой взаимосвязи с какими-либо другими параметрами не прослеживается
# -----------------------------------------------------------------------------
# Make a copy of the dataframe - otherwise a warning will be issued.
# And replace the gaps in the rectal temperature column with the average value
# in conjunction with surgery? (small spread)
# In the pulse and respiratory rate graphs, replace the gaps with the median
# in conjunction with surgery? (significant spread, median in the middle between
# medium and fashion)
# Omissions in the columns surgery?, temperature of extremities and outcome we
# will replace
# fashion without reference to other parameters
# The gaps in the pain column will be replaced by the previous filled values,
# because there is no clear relationship with any other parameters

df_wp = df_no_full_passes.copy()
df_wp['rectal temperature'] = df_wp['rectal temperature'].fillna(
    (df_no_full_passes.groupby(['surgery?'])['rectal temperature']
     .transform('mean'))
    )
df_wp['pulse'] = df_wp['pulse'].fillna(
    (df_no_full_passes.groupby(['surgery?'])['pulse']
     .transform('median'))
    )
df_wp['respiratory rate'] = df_wp['respiratory rate'].fillna(
    (df_no_full_passes.groupby(['surgery?'])['respiratory rate']
     .transform('median'))
    )
df_wp['surgery?'] = df_wp['surgery?'].fillna(
    (df_no_full_passes['surgery?'].mode()[0])
    )
df_wp['outcome'] = df_wp['outcome'].fillna(
    (df_no_full_passes['outcome'].mode()[0])
    )
df_wp['temperature of extremities'] = df_wp['temperature of extremities'].fillna(
    (df_no_full_passes['temperature of extremities'].mode()[0])
    )
df_wp['pain'] = df_wp['pain'].fillna(method='ffill', inplace=False)

In [ ]:
# Проверим, что у нас с пропусками
# -----------------------------------------------------------------------------
# Check what we have with passes

df_wp.isna().sum()

surgery?                      0
Age                           0
rectal temperature            0
pulse                         0
respiratory rate              0
temperature of extremities    0
pain                          0
outcome                       0
dtype: int64

In [ ]:
# Посмотрим статистики исходного и полученного датафреймов в сравнении
# -----------------------------------------------------------------------------
# Let's see the statistics of the source and received dataframes in comparison

df[['rectal temperature', 'pulse', 'respiratory rate']].describe().round(1)

       rectal temperature  pulse  respiratory rate
count               240.0  276.0             242.0
mean                 38.2   71.9              30.4
std                   0.7   28.6              17.6
min                  35.4   30.0               8.0
25%                  37.8   48.0              18.5
50%                  38.2   64.0              24.5
75%                  38.5   88.0              36.0
max                  40.8  184.0              96.0

In [ ]:
df_wp[['rectal temperature', 'pulse', 'respiratory rate']].describe().round(1)

       rectal temperature  pulse  respiratory rate
count               285.0  285.0             285.0
mean                 38.2   71.7              29.8
std                   0.7   28.2              16.3
min                  35.4   30.0               8.0
25%                  37.8   48.0              20.0
50%                  38.1   64.0              28.0
75%                  38.5   88.0              36.0
max                  40.8  184.0              96.0